<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jesper.plspreadsheets">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".create.CreateActivity" />
        <activity android:name=".create.CreateWeekActivity" />
        <activity
            android:name=".create.CreateDayActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".view.ViewActivity"></activity>
    </application>

</manifest>